
.item-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    padding: 0 10px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
